body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 1em;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the pictures */
.pictures {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picture {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 50%;
}

.picture img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.welcome {
    margin: 1em;
    max-width: 600px;
    text-align: center;
}

header {
    height: 130px;
    background-color: #039;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    background-color: #3E8E41;
}

header a:hover {
    background-color: #fff;
    color: #3E8E41;
}

header a:first-child {
    margin-left: auto;
}

a button {
    background-color: #039;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 1em;
    text-decoration: none;
}

a button:hover{
    background-color: #3E8E41;
}
